<mat-toolbar class="Just-caption">
    <button mat-raised-button aria-label="סל הקניות" (click)="ShoppingCart()"
      [matBadge]="api.Connected ? api.totalCount : '0'" matBadgePosition="before" matBadgeColor="warn">
      <span class="material-icons">shopping_cart</span>
    </button>
    <span *ngIf="!api.Connected">
      <button mat-button (click)="Login()" >1התחברות/הרשמה</button>
    </span>
    <span *ngIf="api.Connected">
      <button mat-button (click)="api.LogOut()">התנתקות</button> שלום
      {{ api.user.firstname }} {{ api.user.lastname }}
    </span>
    <!-- <button mat-icon-button (click)="api.Favorites()">
      <mat-icon>favorite_border </mat-icon>
    </button> -->
    
    <span class="example-spacer">
      <span *ngIf="api.Connected">
      <div *ngIf="api.director">
        <button mat-button color="warn" (click)="Definitions()">
          <span class="material-icons">settings</span>
        </button>
      </div>
    </span>
    </span>
  
    <span>  <button mat-button  (click)="BackMain()">
      <span class="material-icons"> home</span>
    </button></span>
  
    <span class="pw"> <img class="p"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA4gCG7Bjb_0E0X3z1qKXi6hcDsmeYSr9EjA&usqp=CAU"
        title="צלצולים" alt="Lamp" width="68" height="68">
    </span>
  
  </mat-toolbar>
  
